@font-face {
  font-family: 'haymakerregular';
  src: url("haymaker-webfont.eot");
  src: url("haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("haymaker-webfont.woff") format("woff"), url("haymaker-webfont.ttf") format("truetype"), url("haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 52, ../sass/forecastle-day2.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 56, ../sass/forecastle-day2.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 67, ../sass/forecastle-day2.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 72, ../sass/forecastle-day2.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 81, ../sass/forecastle-day2.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 94, ../sass/forecastle-day2.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 102, ../sass/forecastle-day2.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 112, ../sass/forecastle-day2.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 120, ../sass/forecastle-day2.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 135, ../sass/forecastle-day2.scss */
#loader {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  text-align: center;
  color: #fff;
  opacity: .9;
}

/* line 144, ../sass/forecastle-day2.scss */
#loader h1 {
  color: #fff;
  font-family: 'Droid Serif', Serif;
  font-weight: normal;
}

/* line 149, ../sass/forecastle-day2.scss */
#loader h2 {
  color: #fff;
  font-family: 'Droid Serif', Serif;
  font-weight: bold;
}

/* line 155, ../sass/forecastle-day2.scss */
#loader small {
  display: block;
  margin-bottom: 1em;
  color: #fff;
  font-family: 'Droid Serif', Serif;
  font-size: 24px;
}

/* line 163, ../sass/forecastle-day2.scss */
#loader p {
  color: #fff;
  font-size: 18px;
}

/* line 168, ../sass/forecastle-day2.scss */
#loader .loader-content {
  padding-top: 140px;
}

@-webkit-keyframes rotate {
  /* line 173, ../sass/forecastle-day2.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 176, ../sass/forecastle-day2.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 182, ../sass/forecastle-day2.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 185, ../sass/forecastle-day2.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  /* line 191, ../sass/forecastle-day2.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 194, ../sass/forecastle-day2.scss */
  to {
    transform: rotate(360deg);
  }
}

/* line 199, ../sass/forecastle-day2.scss */
#loader .loading-img {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* line 218, ../sass/forecastle-day2.scss */
.header {
  width: 100%;
  height: 170px;
  opacity: .6;
  background-color: #000;
  position: absolute;
}
@media (max-width: 500px) {
  /* line 218, ../sass/forecastle-day2.scss */
  .header {
    display: none !important;
  }
}

/* line 229, ../sass/forecastle-day2.scss */
.nav {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 5px;
}

/* line 235, ../sass/forecastle-day2.scss */
.nav li {
  float: left;
  list-style: none;
  text-align: center;
}

/* line 241, ../sass/forecastle-day2.scss */
.header p {
  color: #fff;
  margin-top: 4px;
  font-weight: bold;
}

/* line 247, ../sass/forecastle-day2.scss */
.header .tagline {
  font-family: 'Droid Serif', Serif;
  margin-top: 0px;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}

/* line 255, ../sass/forecastle-day2.scss */
.header .logo {
  padding-top: 18px;
}

/* line 259, ../sass/forecastle-day2.scss */
.nav img {
  box-shadow: none;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 266, ../sass/forecastle-day2.scss */
.header a img:hover {
  opacity: 1;
  -ms-transform: rotate(15deg) scale(1.1);
  -moz-transform: rotate(15deg) scale(1.1);
  -webkit-transform: rotate(15deg) scale(1.1);
  -o-transform: rotate(15deg) scale(1.1);
  transform: rotate(15deg) scale(1.1);
}

/* line 275, ../sass/forecastle-day2.scss */
.header a, .header-small a {
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
}

/* line 284, ../sass/forecastle-day2.scss */
.header-small {
  width: 100%;
  height: 50px;
  opacity: .7;
  border-bottom: 1px solid #333;
  background-color: #000;
  position: fixed;
  z-index: 99;
  top: 0;
  display: none;
}
@media (max-width: 500px) {
  /* line 284, ../sass/forecastle-day2.scss */
  .header-small {
    display: block;
  }
}

/* line 299, ../sass/forecastle-day2.scss */
.header-small .nav-collapse {
  padding-top: 0;
  max-width: 940px;
  margin: 0 auto;
}

/* line 305, ../sass/forecastle-day2.scss */
.header-small img {
  width: 30px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 312, ../sass/forecastle-day2.scss */
.header-small img.logo {
  width: 126px;
  position: absolute;
  top: 7px;
  left: 42%;
  z-index: 99;
}

/* line 320, ../sass/forecastle-day2.scss */
.header-small p {
  color: #fff;
  margin-top: 4px;
  font-weight: bold;
  display: inline;
  padding-left: 6px;
}

/* line 328, ../sass/forecastle-day2.scss */
.header-small ul.row-fluid {
  margin-top: 12px;
}

/* line 332, ../sass/forecastle-day2.scss */
.menu-btn {
  display: none;
}

/* line 336, ../sass/forecastle-day2.scss */
.header-small a img:hover {
  opacity: 1;
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 348, ../sass/forecastle-day2.scss */
.modal {
  text-align: center;
}

/* line 352, ../sass/forecastle-day2.scss */
.modal h3 {
  text-shadow: none;
  font-weight: bold;
  font-style: normal;
  font-weight: bold;
  color: #333;
}

/* line 360, ../sass/forecastle-day2.scss */
.modal .addthis_toolbox {
  margin-left: 25%;
}

/* line 364, ../sass/forecastle-day2.scss */
.modal #mc_embed_signup input.email {
  margin: 0 auto;
}

/* line 368, ../sass/forecastle-day2.scss */
.modal #mc_embed_signup input.button {
  margin: 10px auto 0px auto;
  width: 59%;
}

/* line 373, ../sass/forecastle-day2.scss */
.modal h2 {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 1.3em;
}

/* line 379, ../sass/forecastle-day2.scss */
.modal-header {
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(255, 255, 255, 0.1) 100%);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

/* line 389, ../sass/forecastle-day2.scss */
.modal-body {
  padding: 10px 30px 10px 30px;
}

/* line 393, ../sass/forecastle-day2.scss */
#issues-modal img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  -webkit-box-shadow: 0 2px 6px black;
  -moz-box-shadow: 0 2px 6px black;
  box-shadow: 0 2px 6px black;
}

/* line 400, ../sass/forecastle-day2.scss */
#issues-modal .modal-body {
  padding: 0;
  max-height: none;
}

/* line 405, ../sass/forecastle-day2.scss */
#issues-modal .modal-body ul {
  padding: 0 5px;
}

@-webkit-keyframes arrow {
  /* line 415, ../sass/forecastle-day2.scss */
  0% {
    opacity: 0;
    -webkit-transform: scaleY(1.5);
  }

  /* line 419, ../sass/forecastle-day2.scss */
  50% {
    opacity: .8;
    -webkit-transform: scaleY(0.9);
  }

  /* line 423, ../sass/forecastle-day2.scss */
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0.9);
  }
}

@-moz-keyframes arrow {
  /* line 430, ../sass/forecastle-day2.scss */
  0% {
    opacity: 0;
    -webkit-transform: scaleY(1.5);
  }

  /* line 434, ../sass/forecastle-day2.scss */
  50% {
    opacity: .8;
    -webkit-transform: scaleY(0.9);
  }

  /* line 438, ../sass/forecastle-day2.scss */
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0.9);
  }
}

@keyframes arrow {
  /* line 445, ../sass/forecastle-day2.scss */
  0% {
    opacity: 0;
    -webkit-transform: scaleY(1.5);
  }

  /* line 449, ../sass/forecastle-day2.scss */
  50% {
    opacity: .8;
    -webkit-transform: scaleY(0.9);
  }

  /* line 453, ../sass/forecastle-day2.scss */
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0.9);
  }
}

/* line 459, ../sass/forecastle-day2.scss */
.scroll {
  margin-top: -30px;
  opacity: 0;
  -webkit-animation-name: arrow;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-direction: normal;
  -moz-animation-name: arrow;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-delay: 3s;
  -moz-animation-iteration-count: 10;
  -moz-animation-direction: normal;
  animation-name: arrow;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-iteration-count: 10;
  animation-direction: normal;
}

/* line 487, ../sass/forecastle-day2.scss */
#subscribe-popup {
  width: 340px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.55);
  font-family: "Droid Serif", serif;
  text-align: center;
  position: fixed;
  top: 150px;
  right: 60px;
  z-index: 99;
  display: none;
}
@media (max-width: 500px) {
  /* line 487, ../sass/forecastle-day2.scss */
  #subscribe-popup {
    width: 96%;
    top: 55px;
    right: 2px;
  }
}

/* line 508, ../sass/forecastle-day2.scss */
.popup-header {
  width: 100%;
  height: 50px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
}

/* line 518, ../sass/forecastle-day2.scss */
.popup-header h3 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 1px 1px white;
  line-height: 50px;
  font-style: normal;
  margin: 0;
}
@media (max-width: 500px) {
  /* line 518, ../sass/forecastle-day2.scss */
  .popup-header h3 {
    font-size: 18px;
  }
}

/* line 531, ../sass/forecastle-day2.scss */
.popup-body img {
  width: auto;
  height: 120px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: -10px;
}
@media (max-width: 500px) {
  /* line 531, ../sass/forecastle-day2.scss */
  .popup-body img {
    height: 90px;
  }
}

/* line 545, ../sass/forecastle-day2.scss */
.popup-body .next-issue {
  width: 280px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

/* line 551, ../sass/forecastle-day2.scss */
.popup-body p {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 500px) {
  /* line 551, ../sass/forecastle-day2.scss */
  .popup-body p {
    margin-top: 0;
  }
}

/* line 560, ../sass/forecastle-day2.scss */
.signup p {
  font-weight: bold;
  margin-bottom: 0px;
}

/* line 565, ../sass/forecastle-day2.scss */
.popup-body .signup .fb-like {
  display: block;
  margin-bottom: 20px;
  margin-top: 15px;
}
@media (max-width: 500px) {
  /* line 565, ../sass/forecastle-day2.scss */
  .popup-body .signup .fb-like {
    float: left;
    margin-left: 20%;
    margin-top: 1%;
  }
}

/* line 577, ../sass/forecastle-day2.scss */
.signup #mc_embed_signup input.email {
  margin: 0 auto;
}

/* line 581, ../sass/forecastle-day2.scss */
.signup #mc_embed_signup input.button {
  margin: 10px auto 0px auto;
  width: 130px;
}
@media (max-width: 500px) {
  /* line 581, ../sass/forecastle-day2.scss */
  .signup #mc_embed_signup input.button {
    margin: 0 auto;
  }
}

/* line 590, ../sass/forecastle-day2.scss */
.signup div.span6 {
  border-left: 1px solid #ccc;
}

/* line 594, ../sass/forecastle-day2.scss */
.popup-header #close-btn img {
  margin-top: -34px;
  margin-right: 12px;
}

/*TABLE OF CONTENTS/ SIDE NAV */
/* line 604, ../sass/forecastle-day2.scss */
#side-nav {
  position: fixed;
  width: 46px;
  top: 110px;
  right: 0px;
  z-index: 8;
  font-family: 'open sans', sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: none;
}

/* line 623, ../sass/forecastle-day2.scss */
#side-nav span.nav-num {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 1.5em;
  display: block;
}

/* line 630, ../sass/forecastle-day2.scss */
#side-nav ul {
  margin: 0;
}

/* line 634, ../sass/forecastle-day2.scss */
#side-nav li {
  list-style: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #222;
  position: relative;
}

/* line 643, ../sass/forecastle-day2.scss */
#side-nav li:nth-child(9) {
  border-bottom: none;
}

/* line 647, ../sass/forecastle-day2.scss */
#side-nav li a {
  color: #fff;
}

/* line 651, ../sass/forecastle-day2.scss */
#side-nav .side-nav-details {
  position: absolute;
  right: 64px;
  top: 0;
  width: 280px;
  min-height: 100px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: none;
}

/* line 662, ../sass/forecastle-day2.scss */
#side-nav .side-nav-details img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 10px;
  float: left;
}

/* line 670, ../sass/forecastle-day2.scss */
#side-nav .side-nav-details p {
  color: #fff;
  font-weight: bold;
  margin-top: 40px;
  text-align: left;
}

/* line 677, ../sass/forecastle-day2.scss */
#side-nav a:visited {
  color: white;
}

/* line 681, ../sass/forecastle-day2.scss */
#side-nav a:hover {
  color: #06f30f;
  background: none;
}

/* line 686, ../sass/forecastle-day2.scss */
.active {
  background: rgba(2, 156, 8, 0.7);
  font-weight: bold;
  text-shadow: 0px 1px 0px black;
}

/* line 696, ../sass/forecastle-day2.scss */
.featuring {
  text-align: center;
  max-width: 960px;
  margin-bottom: 120px;
}
@media (max-width: 500px) {
  /* line 696, ../sass/forecastle-day2.scss */
  .featuring {
    display: none;
  }
}

/* line 705, ../sass/forecastle-day2.scss */
.featuring h1 {
  text-shadow: none;
  margin-bottom: 20px;
  margin-top: -150px;
}

/* line 711, ../sass/forecastle-day2.scss */
.featuring img {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 717, ../sass/forecastle-day2.scss */
.featuring img:hover {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* line 722, ../sass/forecastle-day2.scss */
.featuring ul li:nth-child(5) {
  margin-left: 0;
}

/* line 726, ../sass/forecastle-day2.scss */
.featuring ul li {
  margin-bottom: 40px;
  position: relative;
}

/*TYPOGRAPHY*/
/* line 736, ../sass/forecastle-day2.scss */
.otrlogo {
  margin-top: 2.5em;
}

/* line 740, ../sass/forecastle-day2.scss */
#end .otrlogo {
  margin-top: 3em;
  margin-bottom: 0;
}

/* line 745, ../sass/forecastle-day2.scss */
#end .tagline {
  font-family: 'Droid Serif', Serif;
  margin-top: 10px;
  font-weight: normal;
  font-size: 2.6em;
  color: #fff;
}
@media (max-width: 500px) {
  /* line 745, ../sass/forecastle-day2.scss */
  #end .tagline {
    font-size: 2em;
  }
}

@media (max-width: 500px) {
  /* line 756, ../sass/forecastle-day2.scss */
  .issue-logo {
    width: 80%;
  }
}

/* line 762, ../sass/forecastle-day2.scss */
.fade-in-logo {
  -webkit-animation-name: fade-in-logo;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
  -moz-animation-name: fade-in-logo;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 2s;
  animation-name: fade-in-logo;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@-webkit-keyframes fade-in-logo {
  /* line 775, ../sass/forecastle-day2.scss */
  0% {
    opacity: 0;
  }

  /* line 778, ../sass/forecastle-day2.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in-logo {
  /* line 784, ../sass/forecastle-day2.scss */
  0% {
    opacity: 0;
  }

  /* line 787, ../sass/forecastle-day2.scss */
  100% {
    opacity: 1;
  }
}

/* line 793, ../sass/forecastle-day2.scss */
keyframes fade-in-logo 0%  {
  opacity: 0;
}
/* line 796, ../sass/forecastle-day2.scss */
keyframes fade-in-logo 100%  {
  opacity: 1;
}

/* line 801, ../sass/forecastle-day2.scss */
div.fade-in-featuring {
  width: 90%;
  margin: 0 auto;
}

/* line 806, ../sass/forecastle-day2.scss */
.fade-in-featuring {
  -webkit-animation-name: fade-in-featuring;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 3s;
  -moz-animation-name: fade-in-featuring;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 3s;
  animation-name: fade-in-featuring;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@-webkit-keyframes fade-in-featuring {
  /* line 819, ../sass/forecastle-day2.scss */
  0% {
    opacity: 0;
  }

  /* line 823, ../sass/forecastle-day2.scss */
  50% {
    opacity: 0;
  }

  /* line 827, ../sass/forecastle-day2.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in-featuring {
  /* line 833, ../sass/forecastle-day2.scss */
  0% {
    opacity: 0;
  }

  /* line 837, ../sass/forecastle-day2.scss */
  50% {
    opacity: 0;
  }

  /* line 841, ../sass/forecastle-day2.scss */
  100% {
    opacity: 1;
  }
}

/* line 847, ../sass/forecastle-day2.scss */
keyframes fade-in-featuring 0%  {
  opacity: 0;
}
/* line 851, ../sass/forecastle-day2.scss */
keyframes fade-in-featuring 50%  {
  opacity: 0;
}
/* line 855, ../sass/forecastle-day2.scss */
keyframes fade-in-featuring 100%  {
  opacity: 1;
}

/* line 862, ../sass/forecastle-day2.scss */
h1 {
  font-family: 'haymakerregular', Serif;
  font-size: 5em;
  font-style: normal;
  padding-top: 160px;
  color: white;
  text-shadow: 3px 3px 10px #000000;
  line-height: 1.2em;
}
@media (max-width: 500px) {
  /* line 862, ../sass/forecastle-day2.scss */
  h1 {
    font-size: 2.5em;
  }
}

/* line 875, ../sass/forecastle-day2.scss */
h1.cover-title {
  font-family: 'haymakerregular', Serif;
  font-size: 6em;
  padding: 0px;
  margin: 0;
  color: white;
  text-shadow: 0px 5px 10px #000000;
  line-height: 1em;
}
@media (max-width: 500px) {
  /* line 875, ../sass/forecastle-day2.scss */
  h1.cover-title {
    font-size: 3em;
    margin: 0;
  }
}

/* line 889, ../sass/forecastle-day2.scss */
h2.cover-title {
  font-family: 'Droid Serif', Serif;
  font-size: 3em;
  font-style: italic;
  padding: 0px;
  margin: 20px 0 50px 0;
  color: white;
  text-shadow: 0px 5px 5px #000000;
  line-height: 1em;
}
@media (max-width: 500px) {
  /* line 889, ../sass/forecastle-day2.scss */
  h2.cover-title {
    font-size: 2em;
    line-height: 1.5em;
  }
}

/* line 904, ../sass/forecastle-day2.scss */
.artist-logo {
  text-shadow: 3px 3px 10px #000000;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
}

/* line 913, ../sass/forecastle-day2.scss */
h2 {
  color: #333;
  font-family: 'Droid Serif', Serif;
  font-weight: normal;
  text-shadow: 0px 2px 2px white;
  line-height: 1.8em;
  margin-top: 0px;
}
@media (max-width: 500px) {
  /* line 913, ../sass/forecastle-day2.scss */
  h2 {
    font-size: 1.2em;
    margin-left: 10px;
  }
}

/* line 926, ../sass/forecastle-day2.scss */
h3 {
  font-family: 'Droid Serif', Serif;
  font-size: 1.5em;
  color: white;
  text-shadow: 3px 3px 6px #000000;
  font-style: italic;
}

/* line 934, ../sass/forecastle-day2.scss */
h4 {
  font-weight: normal;
  font-style: italic;
  font-family: 'Droid Serif', Serif;
  text-indent: -9999px;
  margin: 0;
}

/* line 943, ../sass/forecastle-day2.scss */
h5 {
  font-weight: normal;
  font-style: italic;
  font-family: 'Droid Serif', Serif;
  font-size: 1em;
}

/* line 950, ../sass/forecastle-day2.scss */
.from {
  font-family: 'droid serif', serif;
  font-style: italic;
  font-size: 12px;
  margin-right: 6px;
  color: #666;
}
@media (max-width: 500px) {
  /* line 950, ../sass/forecastle-day2.scss */
  .from {
    margin-left: 10px;
  }
}

/*BACKGROUND*/
/* line 965, ../sass/forecastle-day2.scss */
#cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/cover2.jpg) no-repeat;
  background-size: cover;
  padding-top: 180px;
  height: 1110px;
  text-align: center;
  background-attachment: fixed;
}
@media (max-width: 500px) {
  /* line 965, ../sass/forecastle-day2.scss */
  #cover {
    background-attachment: scroll;
    height: 494px;
    padding-top: 80px;
  }
}

/* line 979, ../sass/forecastle-day2.scss */
.cover-content {
  background: rgba(0, 0, 0, 0.6);
  margin-top: -10px;
}
@media (max-width: 500px) {
  /* line 979, ../sass/forecastle-day2.scss */
  .cover-content {
    margin-top: -30px;
  }
}

/* line 988, ../sass/forecastle-day2.scss */
#section1-cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/blackkeys-cover.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  background-position: center center;
}
@media (max-width: 500px) {
  /* line 988, ../sass/forecastle-day2.scss */
  #section1-cover {
    background-attachment: scroll;
    height: 500px;
    padding-top: 80px;
  }
}

/* line 1003, ../sass/forecastle-day2.scss */
#section2-cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/flaminglips-cover.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 4em;
  background-position: center center;
}
@media (max-width: 500px) {
  /* line 1003, ../sass/forecastle-day2.scss */
  #section2-cover {
    background-attachment: scroll;
    height: 500px;
    padding-top: 80px;
  }
}

/* line 1019, ../sass/forecastle-day2.scss */
#section3-cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/alabamashakes-cover.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 4em;
  background-position: center center;
}
@media (max-width: 500px) {
  /* line 1019, ../sass/forecastle-day2.scss */
  #section3-cover {
    background-attachment: scroll;
    height: 500px;
    padding-top: 80px;
  }
}

/* line 1035, ../sass/forecastle-day2.scss */
#section4-cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/jimjames-cover.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 4em;
  background-position: top center;
}
@media (max-width: 500px) {
  /* line 1035, ../sass/forecastle-day2.scss */
  #section4-cover {
    background-attachment: scroll;
    height: 500px;
    padding-top: 80px;
  }
}

/* line 1051, ../sass/forecastle-day2.scss */
#section5-cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/mattandkim-cover.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 4em;
}
@media (max-width: 500px) {
  /* line 1051, ../sass/forecastle-day2.scss */
  #section5-cover {
    background-attachment: scroll;
    height: 500px;
    padding-top: 80px;
  }
}

/* line 1066, ../sass/forecastle-day2.scss */
#section6-cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/foxygen-cover.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 4em;
}
@media (max-width: 500px) {
  /* line 1066, ../sass/forecastle-day2.scss */
  #section6-cover {
    background-attachment: scroll;
    height: 500px;
    padding-top: 80px;
  }
}

/* line 1081, ../sass/forecastle-day2.scss */
#section7-cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/joyformidable-cover.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 4em;
}
@media (max-width: 500px) {
  /* line 1081, ../sass/forecastle-day2.scss */
  #section7-cover {
    background-attachment: scroll;
    height: 500px;
    padding-top: 80px;
  }
}

/* line 1096, ../sass/forecastle-day2.scss */
#section8-cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/tokimonsta-cover.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 4em;
}
@media (max-width: 500px) {
  /* line 1096, ../sass/forecastle-day2.scss */
  #section8-cover {
    background-attachment: scroll;
    height: 500px;
    padding-top: 80px;
  }
}

/* line 1111, ../sass/forecastle-day2.scss */
#section9-cover {
  background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle-day2/img/culture-bkg2.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 4em;
}
@media (max-width: 500px) {
  /* line 1111, ../sass/forecastle-day2.scss */
  #section9-cover {
    background-attachment: scroll;
    height: 500px;
    padding-top: 80px;
  }
}

/* line 1126, ../sass/forecastle-day2.scss */
#end {
  background: rgba(0, 0, 0, 0) url(/static/img/record-bkg.jpg) no-repeat;
  background-size: cover;
  height: 1240px;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 5em;
  text-align: center;
}
@media (max-width: 500px) {
  /* line 1126, ../sass/forecastle-day2.scss */
  #end {
    background-attachment: scroll;
    height: 1630px;
    padding-top: 80px;
  }
}

@media (max-width: 500px) {
  /* line 1145, ../sass/forecastle-day2.scss */
  body {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* line 1156, ../sass/forecastle-day2.scss */
#section1-content {
  position: relative;
}

/*CONTENT*/
/* line 1164, ../sass/forecastle-day2.scss */
.container-fluid {
  padding: 0;
}

/* line 1168, ../sass/forecastle-day2.scss */
ul {
  padding: 0px;
}

/* line 1172, ../sass/forecastle-day2.scss */
.thumbnails {
  margin-top: 5em;
  transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

/* line 1184, ../sass/forecastle-day2.scss */
.img-caption {
  margin-top: 10px;
  max-width: 612px;
}

/* line 1190, ../sass/forecastle-day2.scss */
.artist-thumb {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  float: left;
  margin-right: 10px;
}

/* line 1201, ../sass/forecastle-day2.scss */
.img-caption h5 {
  color: #999;
  display: inline;
}

/* line 1206, ../sass/forecastle-day2.scss */
.img-caption h5.no-caption {
  line-height: 60px;
}

/* line 1210, ../sass/forecastle-day2.scss */
.img-caption p {
  float: left;
  font-family: 'Droid Serif', Serif;
  line-height: 1.8;
}

/* line 1216, ../sass/forecastle-day2.scss */
.img-caption > p {
  margin-left: 10px;
  margin-top: 0;
}

@media (max-width: 500px) {
  /* line 1221, ../sass/forecastle-day2.scss */
  div.img-caption .span2 {
    margin-bottom: -25px;
  }
}

/* line 1227, ../sass/forecastle-day2.scss */
.float-right {
  float: right;
}

/* line 1231, ../sass/forecastle-day2.scss */
.row-fluid ul.two-columns {
  margin: 5em auto 0 auto;
  max-width: 1260px;
}

/* line 1236, ../sass/forecastle-day2.scss */
.row-fluid {
  margin-right: auto;
  margin-left: auto;
}

/* line 1241, ../sass/forecastle-day2.scss */
li.thumbnails {
  margin-top: 0;
}

/* line 1245, ../sass/forecastle-day2.scss */
.single-pic {
  margin-top: 4em;
  margin-right: auto;
  margin-left: auto;
}

/* line 1251, ../sass/forecastle-day2.scss */
.quote {
  margin-top: 4em;
  margin-right: auto;
  margin-left: auto;
  max-width: 860px;
  transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

/* line 1262, ../sass/forecastle-day2.scss */
.quote-solo {
  margin-bottom: 4em;
}

/* line 1266, ../sass/forecastle-day2.scss */
li.quote {
  margin-top: 0px;
}

/* line 1270, ../sass/forecastle-day2.scss */
.quote-pad-left {
  padding-left: 20px;
}

/* line 1274, ../sass/forecastle-day2.scss */
.pics {
  opacity: 1;
}

/* line 1278, ../sass/forecastle-day2.scss */
li img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 1287, ../sass/forecastle-day2.scss */
.no-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1293, ../sass/forecastle-day2.scss */
.bio-pics {
  display: block;
  margin: 0 auto;
  margin-top: 4em;
  -moz-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 1305, ../sass/forecastle-day2.scss */
.maglogo {
  box-shadow: none;
  opacity: .7;
  transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

/* line 1313, ../sass/forecastle-day2.scss */
.maglogo:hover {
  transform: scale(1.15);
  -ms-transform: scale(1.15);
  /* IE 9 */
  -moz-transform: scale(1.15);
  /* Firefox */
  -webkit-transform: scale(1.15);
  /* Safari and Chrome */
  -o-transform: scale(1.15);
  /* Opera */
  opacity: 1;
}

/* line 1322, ../sass/forecastle-day2.scss */
.maglogo.longlogo {
  height: 25px;
}

/* line 1326, ../sass/forecastle-day2.scss */
.maglogo.highlogo {
  height: 50px;
}

/* line 1330, ../sass/forecastle-day2.scss */
.fan-thumbnail {
  height: 50px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 1336, ../sass/forecastle-day2.scss */
#fanList, #fanList2, #fanList3, #fanList4 {
  margin: 5em auto 0 auto;
}

/* line 1344, ../sass/forecastle-day2.scss */
#section6-content li img {
  width: 100%;
}

/* line 1348, ../sass/forecastle-day2.scss */
#section6-content .thumbnails img {
  width: 100%;
  display: block;
  margin-bottom: 1em;
}

/*VIDEO PLAYER*/
/* line 1359, ../sass/forecastle-day2.scss */
.player-main {
  height: 41px;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 8;
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 5px 10px 0px 10px;
  background: black;
  opacity: 0.7;
  text-shadow: 0px -1px 0px black;
  -webkit-border-radius: 0 0 0 8px;
  -moz-border-radius: 0 0 0 8px;
  border-radius: 0 0 0 8px;
}

/* line 1380, ../sass/forecastle-day2.scss */
.video-message {
  float: left;
  margin-top: 7px;
  margin-left: 10px;
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
}

/* line 1389, ../sass/forecastle-day2.scss */
span.now-playing {
  margin-left: 10px;
  font-size: 11px;
  font-style: italic;
  text-shadow: 0px 1px 0px black;
  line-height: 39px;
}

/* line 1398, ../sass/forecastle-day2.scss */
.player-main a {
  float: left;
}

/* line 1402, ../sass/forecastle-day2.scss */
.player {
  z-index: 8;
  top: 0;
  display: none;
  position: fixed;
  top: -80px;
  right: 40px;
}

/* line 1412, ../sass/forecastle-day2.scss */
#btn-play:hover, #btn-stop:hover {
  text-decoration: none;
}

/* line 1416, ../sass/forecastle-day2.scss */
#btn-play, #btn-stop, #audio-message {
  display: none;
}

/* line 1420, ../sass/forecastle-day2.scss */
.video1, #play-video1, .video2, #play-video2, .video3, #play-video3, .video4, #play-video4 {
  display: none;
}

/* line 1424, ../sass/forecastle-day2.scss */
.buttonBar {
  display: none;
}

/* line 1432, ../sass/forecastle-day2.scss */
#section1Video, #section3Video, #section5Video {
  height: 1100px;
  width: 100%;
  position: relative;
}

/* line 1438, ../sass/forecastle-day2.scss */
.mobilevideo {
  display: none;
}

/*POSTERS*/
/* line 1445, ../sass/forecastle-day2.scss */
.poster {
  max-width: 300px;
  margin: 10px auto;
  float: left;
}

/* line 1451, ../sass/forecastle-day2.scss */
#posterList {
  margin: 40px auto;
}

/*EMAIL AND SHARE END*/
/* line 1458, ../sass/forecastle-day2.scss */
.email-share-end {
  /*END OF ISSUE*/
  max-width: 960px;
  margin: 3em auto 2em auto;
  background-color: rgba(0, 0, 0, 0.4);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 1em;
}

/* line 1469, ../sass/forecastle-day2.scss */
#end h3 {
  margin-bottom: 1em;
  text-align: center;
  font-style: normal;
  font-family: 'open sans', sans-serif;
}

/* line 1476, ../sass/forecastle-day2.scss */
.email-share-end input {
  width: 50% !important;
  margin: 0 auto 10px auto !important;
}

/* line 1481, ../sass/forecastle-day2.scss */
.email-share-end .addthis_toolbox {
  margin-left: 90px;
}

/*CONTRIBUTORS*/
/* line 1488, ../sass/forecastle-day2.scss */
.contributors {
  max-width: 960px;
  background-color: rgba(0, 0, 0, 0.4);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: 'open sans', sans-serif;
}

/* line 1498, ../sass/forecastle-day2.scss */
.contributors .thumbnails {
  opacity: 1;
}

/* line 1502, ../sass/forecastle-day2.scss */
.contributor-role {
  color: white;
  display: block;
  margin-bottom: 5px;
}

/* line 1508, ../sass/forecastle-day2.scss */
.contributors ul {
  margin-top: 0;
}

/* line 1513, ../sass/forecastle-day2.scss */
.contributors ul li:nth-child(4) {
  margin-left: 0;
}

/*MEDIA QUERIES*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 1527, ../sass/forecastle-day2.scss */
  .navbar a.menu-btn {
    color: #333;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  /* line 1533, ../sass/forecastle-day2.scss */
  .navbar a.menu-btn:visited {
    color: #333;
  }

  /* line 1537, ../sass/forecastle-day2.scss */
  .navbar a.menu-btn:hover {
    color: #333;
  }

  /* line 1541, ../sass/forecastle-day2.scss */
  .header-small img.logo {
    width: 126px;
    position: absolute;
    top: 7px;
    left: 10px;
  }

  /* line 1548, ../sass/forecastle-day2.scss */
  .nav-collapse {
    background-color: #000;
  }

  /* line 1552, ../sass/forecastle-day2.scss */
  .nav-collapse li {
    margin-bottom: 6px;
    margin-top: 6px;
  }

  /* line 1557, ../sass/forecastle-day2.scss */
  .nav-collapse li.span4 {
    margin-bottom: -36px;
  }

  /* line 1561, ../sass/forecastle-day2.scss */
  .nav-collapse li a {
    float: left;
    padding-left: 10px;
  }

  /* line 1568, ../sass/forecastle-day2.scss */
  #loader .loader-content {
    padding-top: 40px;
  }

  /*CONTENT*/
  /* line 1575, ../sass/forecastle-day2.scss */
  .webvideo {
    display: none;
  }

  /* line 1579, ../sass/forecastle-day2.scss */
  .quote {
    margin-top: 1em;
    opacity: 1;
  }

  /* line 1584, ../sass/forecastle-day2.scss */
  .thumbnails {
    margin-top: 2em;
    opacity: 1;
  }

  /* line 1589, ../sass/forecastle-day2.scss */
  br {
    display: none;
  }

  /* line 1593, ../sass/forecastle-day2.scss */
  .mobilevideo {
    display: block;
  }

  /* line 1597, ../sass/forecastle-day2.scss */
  .mobilevideo iframe {
    width: 100%;
    height: 220px;
  }

  /* line 1602, ../sass/forecastle-day2.scss */
  .row-fluid ul.two-columns {
    margin: 3em auto 0 auto;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 1613, ../sass/forecastle-day2.scss */
  .touch {
    /*BACKGROUNDS*/
    /*TYPOGRAPHY*/
    /*CONTENT*/
  }
  /* line 1618, ../sass/forecastle-day2.scss */
  .touch .header {
    display: none !important;
  }
  /* line 1622, ../sass/forecastle-day2.scss */
  .touch .header-small {
    display: block;
  }
  /* line 1626, ../sass/forecastle-day2.scss */
  .touch .nav-collapse {
    background-color: #000;
  }
  /* line 1630, ../sass/forecastle-day2.scss */
  .touch .navbar a.menu-btn {
    color: #333;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  /* line 1636, ../sass/forecastle-day2.scss */
  .touch .nav-collapse p {
    display: block;
    margin-bottom: 0px;
  }
  /* line 1641, ../sass/forecastle-day2.scss */
  .touch .nav-collapse li {
    text-align: center;
  }
  /* line 1646, ../sass/forecastle-day2.scss */
  .touch #side-nav {
    display: block;
  }
  /* line 1650, ../sass/forecastle-day2.scss */
  .touch #subscribe-popup {
    top: 110px;
  }
  /* line 1657, ../sass/forecastle-day2.scss */
  .touch #cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/cover1.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 966px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
  }
  /* line 1667, ../sass/forecastle-day2.scss */
  .touch .cover-content {
    background: rgba(0, 0, 0, 0.6);
    margin-top: -40px;
  }
  /* line 1673, ../sass/forecastle-day2.scss */
  .touch #section1-cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/stringcheese-5.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 800px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
    background-position: center center;
  }
  /* line 1684, ../sass/forecastle-day2.scss */
  .touch #section2-cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/youngthegiant-1.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 800px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 4em;
    background-position: top center;
  }
  /* line 1696, ../sass/forecastle-day2.scss */
  .touch #section3-cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/oldcrow-4.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 800px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 4em;
    background-position: center center;
  }
  /* line 1708, ../sass/forecastle-day2.scss */
  .touch #section4-cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/bigboi-4.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 800px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 4em;
    background-position: top center;
  }
  /* line 1720, ../sass/forecastle-day2.scss */
  .touch #section5-cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/moontaxi-1.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 800px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 4em;
  }
  /* line 1731, ../sass/forecastle-day2.scss */
  .touch #section6-cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/houndmouth-9.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 800px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 4em;
  }
  /* line 1742, ../sass/forecastle-day2.scss */
  .touch #section7-cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/griz-2.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 800px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 4em;
  }
  /* line 1753, ../sass/forecastle-day2.scss */
  .touch #section8-cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/boyznoize-3.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 800px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 4em;
  }
  /* line 1764, ../sass/forecastle-day2.scss */
  .touch #section9-cover {
    background: rgba(0, 0, 0, 0) url(/offtherecord/forecastle/img/culture-bkg.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 800px;
    text-align: center;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 4em;
  }
  /* line 1776, ../sass/forecastle-day2.scss */
  .touch #end {
    background: rgba(0, 0, 0, 0) url(../img/record-bkg.jpg) no-repeat;
    background-size: cover;
    height: 1000px;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 5em;
    text-align: center;
  }
  /* line 1791, ../sass/forecastle-day2.scss */
  .touch h1.cover-title {
    font-size: 4em;
  }
  /* line 1795, ../sass/forecastle-day2.scss */
  .touch h1 {
    font-size: 5em;
    padding-top: 0;
  }
  /* line 1800, ../sass/forecastle-day2.scss */
  .touch .featuring h1 {
    margin-top: -70px;
  }
  /* line 1806, ../sass/forecastle-day2.scss */
  .touch .fade-in-logo {
    width: 40%;
  }
  /* line 1810, ../sass/forecastle-day2.scss */
  .touch .webvideo {
    display: none;
  }
  /* line 1814, ../sass/forecastle-day2.scss */
  .touch .quote {
    margin-top: 1em;
    opacity: 1;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 1821, ../sass/forecastle-day2.scss */
  .touch .thumbnails {
    margin-top: 2em;
    opacity: 1;
  }
  /* line 1826, ../sass/forecastle-day2.scss */
  .touch br {
    display: none;
  }
  /* line 1830, ../sass/forecastle-day2.scss */
  .touch .mobilevideo {
    display: block;
  }
  /* line 1834, ../sass/forecastle-day2.scss */
  .touch .mobilevideo iframe {
    width: 100%;
    height: 760px;
  }
  /* line 1839, ../sass/forecastle-day2.scss */
  .touch .contributors {
    max-width: none;
  }
  /* line 1843, ../sass/forecastle-day2.scss */
  .touch .contributors li:first-child {
    margin-bottom: -10px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 1869, ../sass/forecastle-day2.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 1877, ../sass/forecastle-day2.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 1888, ../sass/forecastle-day2.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 1897, ../sass/forecastle-day2.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 1914, ../sass/forecastle-day2.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 1927, ../sass/forecastle-day2.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 1944, ../sass/forecastle-day2.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 1949, ../sass/forecastle-day2.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 1958, ../sass/forecastle-day2.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 1983, ../sass/forecastle-day2.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 1991, ../sass/forecastle-day2.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 1995, ../sass/forecastle-day2.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1999, ../sass/forecastle-day2.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 2009, ../sass/forecastle-day2.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 2014, ../sass/forecastle-day2.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 2019, ../sass/forecastle-day2.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 2024, ../sass/forecastle-day2.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 2028, ../sass/forecastle-day2.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 2038, ../sass/forecastle-day2.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 2044, ../sass/forecastle-day2.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
